<% content_for(:title, "Editing #{@word.name}") %>

<section class="section">
  <div class="container">
    <h2 class="title">Editing data from <span class="is-italic">"<%= @word.name %>"</span></h2>

    <%= render "form" %>

    <hr>

    <%= link_to 'Back to Home', root_path %>
  </div>
</section>