<% content_for(:title, "New word") %>

<section class="section">
  <div class="container">
    <h2 class="title">Saving new word</h2>

    <%= render "form" %>

    <hr>

    <%= link_to 'Back to Home', root_path %>
  </div>
</section>